{% extends "layout.jinja2" %}
{% block title %}Learning Journal Home Page{%
endblock}

{% block body %}
<h1>My Learning Journal Home Page - a view of an individual entry.</h1>
<ul>
    {% for item in bag_list %}
        <li>{{ item.title }}
            {{ item.body }}</li>
    {% endfor %}
</ul>
{% endblock %}
