<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{%
    endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ request.static.path('static/style.css')}}">
</head>
<body>
    {% block body %}{% endblock %}
    <nav>
        <button>
            <a href="{{ request.route_url.('home')}}">To the Learning Journal Home Page</a>
        </button>
    </nav>
</body>
</html>
